<div class="col-md-3">
  <%= render 'info', user: @user %>
  <%= render 'books/new', book: Book.new %>
</div>

<div class="col-md-8 offset-md-1">
  <h2>Books</h2>
  <%= render 'books/list', books: @books %>
</div>