<h2 class="mt-5 mb-3">New book</h2>
<%= form_with model: book, local: true do |f| %>
  <div class="mb-3">
    <div><label for="inputTitle">Title</label></div>
    <div><%= f.text_field :title, id:"inputTitle" %></div>
  </div>
  <div class="mb-3">
    <div><label for="inputOpinion">Opinion</label></div>
    <div><%= f.text_area :body, id:"inputOpinion" %></div>
  </div>
  <%= f.submit 'Create Book', class: 'btn btn-success' %>
<% end %>