<div class="col-md-12">
  <%= render 'layouts/error_message', model: @book %>
</div>

<div class="col-md-3">
  <%= render 'users/info', user: current_user %>
  <%= render 'new', book: Book.new %>
</div>

<div class="col-md-8 offset-md-1">
  <h2>Books</h2>
  <%= render 'list', books: @books %>
</div>